<!--Template from: https://codepen.io/ecemgo/pen/YzBZjjb -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PosturePal</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../imgs/stretch.png"/>
    <script src="https://kit.fontawesome.com/ea19d3d339.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <link rel="stylesheet" href="/css/scheduleForm.css"/>
    <link rel="stylesheet" href="/css/schedule.css"/>
</head>
<body>
    <main>
        <nav class="main-menu">
            <h1>PosturePal</h1>
            <a href="/profile"><img class="logo" src="../imgs/stretch.png" alt="PosturePal logo"/></a>
            <ul>
                <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="/profile">
                        <i class="fa fa-house nav-icon"></i>
                        <span class="nav-text">Home</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <b></b>
                    <b></b>
                    <a href="/schedule">
                        <i class="fa fa-calendar-check nav-icon"></i>
                        <span class="nav-text">Schedule</span>
                    </a>
                </li>

                <li class="nav-item">
                    <b></b>
                    <b></b>
                    <a href="/">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="nav-text">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>

        <section class="content">
            <div class="left-content left-content-schedule">
                <%if(schedule && schedule.length === 1){ %> 
                    <div class="user-schedule-display">
                        <h2>Your Weekly Schedule</h2>
                        <p class ="hidden"></p>
                        <div id="scheduleDisplay">
                            <!-- This is where the submitted schedule information will be displayed -->
                            <form action="/editSchedule?_method=PUT" method="POST">
                                <ul class="edit-list">
                                    <li>
                                        <span id="displayWorkDays">Work Days: <%= schedule[0].days %></span>
                                        <select class="hidden" id="workDays" name="workDays[]" multiple>
                                            <option <% if(schedule[0].days.includes('Monday')) { %> selected<%} %> value="Monday">Monday</option>
                                            <option  <% if(schedule[0].days.includes('Tuesday')) { %> selected<%} %> value="Tuesday">Tuesday</option>
                                            <option <% if(schedule[0].days.includes('Wednesday')) { %> selected<%} %> value="Wednesday">Wednesday</option>
                                            <option <% if(schedule[0].days.includes('Thursday')) { %> selected<%} %> value="Thursday">Thursday</option>
                                            <option <% if(schedule[0].days.includes('Friday')) { %> selected<%} %> value="Friday">Friday</option>
                                            <option <% if(schedule[0].days.includes('Saturday')) { %> selected<%} %> value="Saturday">Saturday</option>
                                            <option <% if(schedule[0].days.includes('Sunday')) { %> selected<%} %> value="Sunday">Sunday</option>
                                        </select>
                                        <button type="button" class="edit btn">Edit</button>
                                    </li>
                                    <li>
                                        <span id="displayStartTime">Start Time: <%= startTime %></span>
                                        <input class="hidden" type="time" id="startTime" name="startTime" value="<%= schedule[0].startTime %>">
                                        <button type="button" class="edit btn">Edit</button> 
                                    </li>
                                    <li>
                                        <span id="displayEndTime">End Time: <%=endTime %></span>
                                        <input class="hidden" type="time" id="endTime" name="endTime" value="<%= schedule[0].endTime %>">
                                        <button type="button" class="edit btn">Edit</button>
                                    </li>
                                    <li>
                                        <span id="displayFrequency">Reminders per Day: <%=schedule[0].frequency %></span> 
                                        <input class="hidden" type="number" id="frequency" name="frequency" min="1" value="<%= schedule[0].frequency %>">
                                        <button type="button" class="edit btn">Edit</button>
                                    </li>
                                </ul>
                                <button class="hidden" id="editBtn" type="submit">Edit Schedule</button>
                            </form> 
                        </div>
                    </div>
                <%} else{%> 
                    <div class="left-bottom">
                        <div class="weekly-schedule">
                            <h1 class ='center'>Weekly Schedule</h1>
                            <form action="/schedule" id="workScheduleForm" method="POST">
                                <label for="workDays">Select Work Days:</label>
                                <select id="workDays" name="workDays[]" multiple required>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                                
                                <label for="startTime">Work Start Time:</label>
                                <input type="time" id="startTime" name="startTime" required>
                                
                                <label for="endTime">Work End Time:</label>
                                <input type="time" id="endTime" name="endTime" required>
                            
                                <label for="frequency">Reminders per Day:</label>
                                <input type="number" id="frequency" name="frequency" min="1" required>
                            
                                <button type="submit">Create Schedule</button>
                            </form>
                        </div>
                    </div>
                <%}%>
            </div>
        </section>
    </main>
    <script src="../js/script.js"></script>
</body>
</html>